.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

/* .MoviesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
} */

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

/* .MoviesList-item {
  margin-bottom: 24px;
  width: 100px;
} */

.MoviesList-item {
  margin-bottom: 24px;
  width: 40px;
}

.container {
  text-align: center;
}

.container > img {
  margin-top: 20px;
}

input[type="text"] {
  margin-bottom: 20px;
}
